<footer class="pt-5">
    <div class="contact text-white container">
        <div class="contact-details w-100">
          <h3>Contact Us</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus doloribus quidem, beatae officiis ut nesciunt itaque vitae alias, autem blanditiis eum similique hic suscipit optio in dolorum sequi, mollitia sint?</p>
          <div>
            <i class="fa-solid fa-envelope"></i> <span class="px-2">info&#64;filmo.com</span>
          </div>
          <div class="social-media">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-tiktok"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-x-twitter"></i>
          </div>
          
        </div>
        <div class="contact-form w-100">
          <h3>Send Message</h3>
          <form>
            <div class="form-group mt-2">
              <label for="formGroupExampleInput">Name</label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name">
            </div>
            <div class="form-group mt-2">
              <label for="formGroupExampleInput2">Email</label>
              <input type="email" class="form-control" id="formGroupExampleInput2" placeholder="Email">
            </div>
            <div class="form-group mt-2">
              <label for="exampleFormControlTextarea1">Message</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>
            </div>
            <button type="submit" class="btn btn-sm btndef mt-2">Submit</button>
          </form>
        </div>
    </div>
    <hr>
    <div class="copyright text-white text-center py-1">
      <p>&copy; 2024 by Filmo</p>
    </div>
  </footer>