<div class="signin py-1">
    <div class="container">
        <form>
            <h3 class="mt-4 text-center">Sign In</h3>
            <div class="form-group">
                <span>Name</span>
                <input type="text" name="name" placeholder="Name" class="form-control"/>
            </div>
            <div class="form-group">
                <span>Email or Password</span>
                <input type="text" name="emailOrPassword" placeholder="Email or Password" class="form-control"/>
            </div>

              <div class="mt-3">
                <button class="btn btndef" data-bs-toggle="modal" data-bs-target="#exampleModal">Sign In</button>
                <button class="btn btn-danger mx-2" type="reset">Clear</button>
              </div>
    
        </form>
    </div>
</div>



<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="color: #fff;">Alert</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color: #000; background-color: #fff;"></button>
        </div>
        <div class="modal-body text-white">
          Sign Up Feature Is Not Yet Available 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>