.subscribe{
    background-color: #000;
}
input{
    width: 60%; 
    height: 37px;
    padding-left: 10px;
}
.btndef{
    background-color: #4cbb17;
    color: #fff;
    font-weight: 500;
}

.modal-dialog{
    width: 100%;

}
.modal-content{
    margin: 20px;
}
.modal-content{
    border: 1px solid #fff;
}

@media screen and (max-width:576px) {
    .modal{
        width: 80% !important;
        margin: 0 10% !important;
    }
}