
<div class="movies">
    <div class="text-center sprinner pt-2">
        <div class="spinner-border text-light" role="status"  *ngIf="isLoading2">
            <span class="visually-hidden">Loading...</span>
        </div>
        </div>
    <ng-container *ngFor="let g of Genre">
        <ng-container *ngIf="g.id != 99 && g.id != 10770 && g.id != 37">
            <div class=" pt-2">
                <div class="my-container">
                    <h2 class="mb-4 mx-4">{{g.name}}</h2>
                   <div class="text-center sprinner" *ngIf="isLoading">
                        <div class="spinner-border text-light" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                   
                    <owl-carousel-o [options]="customOptions">
                        <ng-container  *ngFor="let movie of MoviesList">
                            <ng-container *ngIf="movie.genre_ids.includes(g.id)">
                                <ng-template carouselSlide >
                                    
                                    <div class="slider-container">
                                        <div class="movie-img">
                                            <a [routerLink]="'Movie-details/' +movie.id+'/'+movie.title">
                                                <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="">
                                            </a>
                                        </div>
                                        <div class="simple-details mt-2 text-white text-center">
                                            <a [routerLink]="'Movie-details/' +movie.id+'/'+movie.name">
                                                <p>{{movie.title}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </ng-template> 
        
                            </ng-container>
                        </ng-container>
                    </owl-carousel-o>
            
                </div>
            </div>
        </ng-container>
       
    </ng-container>
</div>
