<div class="movies-search py-3">
    <div class="container">

        <div class="titleAndBbtn d-flex justify-content-between">
            <h3 class="text-light">Search Movies</h3>
            <a routerLink=".."><i class="close-btn fa-solid fa-xmark"></i></a>
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search Movies" aria-label="Recipient's username" 
            aria-describedby="basic-addon2" #searchValue>
            <div class="input-group-append">
              <button class="btn btn-outline-success" type="button" (click)="getSearchValue(searchValue)">Search</button>
            </div>
        </div>
    </div>

    <div class="filter-btns container">
        <button class="btn btn-outline-light rounded-pill btn-sm" 
            (click)="getMovieCategory(Upcomming)">Upcomming</button>
        <button class="btn btn-outline-light rounded-pill btn-sm"
            (click)="getMovieCategory(Popular)">Popular</button>
        <button class="btn btn-outline-light rounded-pill btn-sm" 
            (click)="getMovieCategory(Action)">Action</button>
        <button class="btn btn-outline-light rounded-pill btn-sm"
            (click)="getMovieCategory(Adventure)">Adventure</button>
        <button class="btn btn-outline-light rounded-pill btn-sm" 
            (click)="getMovieCategory(Fantasy)">Fantasy</button>
        <button class="btn btn-outline-light rounded-pill btn-sm"
            (click)="getMovieCategory(Comedy)">Comedy</button>
        <button class="btn btn-outline-light rounded-pill btn-sm"
            (click)="getMovieCategory(Animation)">Animation</button>
    </div>
    

    <div class="movie-filter container">
        <div class="movie-list mt-4">

            <h4 class="text-white text-center" *ngIf="filteredMoviesList.length == 0"><u>Sorry, no movies found for this query!</u></h4>
            <ng-container  *ngFor="let movie of filteredMoviesList">
               
                <div class="movie-card">
                    <a [routerLink]="'Movie-details/' +movie.id+'/'+movie.name">
                        <div>
                            <img [src]="movie.img" alt="">
                            
                        </div>
                        <div class="simple-details mt-2 text-white text-center">
                            <p>{{movie.name}}</p>
                        </div>
                    </a>
                </div>
            </ng-container>
            
        </div>
    </div>
</div>



