<div class="banner">
   
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>

    <div class="carousel-inner">
          <div class="carousel-item active">
              <div class="text2 text-white">
                  <h3>Uncharted</h3>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi, odio nisi perferendis,quasi odit quos  provident praesentium facere quo minus ea!</p>
                  <button class="btn btndef">VIEW MORE</button>
              </div>
              <img src="../../../assets/movies/6-2.jpg" class="d-block" alt="...">
          </div>
          <div class="carousel-item">
            <div class="text text-white">
                <h3>Spider-Man: Across the Spider-Verse</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi, odio nisi perferendis,quasi odit quos  provident</p>
                <button class="btn btndef">VIEW MORE</button>
            </div>
            <img src="../../../assets/movies/19-2.jpg" class="d-block" alt="...">
        </div>
        <div class="carousel-item">
          <div class="text text-white">
              <h3>Doctor Strange in the Multiverse of Madness</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi, odio nisi perferendis,quasi odit quos  provident</p>
              <button class="btn btndef">VIEW MORE</button>
          </div>
          <img src="../../../assets/movies/7-2.jpg" class="d-block" alt="...">
        </div>
        <div class="carousel-item">
          <div class="text text-white">
              <h3>Oppenheimer</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi, odio nisi perferendis,quasi odit quos  provident</p>
              <button class="btn btndef">VIEW MORE</button>
          </div>
          <img src="../../../assets/movies/3-2.jpg" class="d-block" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>
